{% extends "layout.twig" %}

{% block header %}
    <h1>PŘEHLED</h1>
{% endblock %}

{% block main %}
    <div class="dashboard-menu mb-3">
        <a class="button" href="/game/stats" title="Statistiky">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 3H3v18h18V3H5zm14 2v14H5V5h14zM9 11H7v6h2v-6zm2-4h2v10h-2V7zm6 6h-2v4h2v-4z" fill="currentColor"/> </svg>
            <span>Statistiky</span>
        </a>
        <a class="button" href="/logout" title="Odhlásit se">
            <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"> <path d="M5 3h16v4h-2V5H5v14h14v-2h2v4H3V3h2zm16 8h-2V9h-2V7h-2v2h2v2H7v2h10v2h-2v2h2v-2h2v-2h2v-2z" fill="currentColor"/> </svg>
            <span>Odhlásit se</span>
        </a>
    </div>
    {% for notification in notifications %}
        <div class="notification {{ notification.type.name|lower }}">
            <div class="time">
                {{ notification.created|date("d.m.Y H:i") }}
            </div>
            <div class="message">
                {{ notification.message|raw }}
            </div>
        </div>
    {% endfor %}
{% endblock %}