{% extends "layout.twig" %}

{% block main %}
    <div class="map">

    </div>
    <div class="location">
        <p>Právě se nacházíš na souřadnicích: <strong>{{ x }},{{ y }}</strong></p>
        <ul>
            {% for player in location.players %}
                <li>{{ player.username|e }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}