{% extends "layout.twig" %}

{% block header %}
    <h1>JEDNOTKA</h1>
{% endblock %}

{% block main %}
    <p>Počet členů: {{ soldiers|length }}</p>
    <table>
        {% for soldier in soldiers %}
            <tr>
                <td>{{ soldier.name }}</td>
                <td class="text-right">{{ soldier.health }}%</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}