@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

@import 'reset';
@import 'utils';
@import 'variables';
@import 'menu';
@import 'map';

body {
    background-color: $background;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

h1, h2 {
    font-family: 'Rubik 80s Fade', cursive;
}

a {
    color: $link;
    text-decoration: none;

    &:hover {
        color: $link-hover;
    }
}

footer {
    margin-bottom: 8rem;
}

table {
    border: 1px solid #fff;
    border-spacing: 0;

    td, th {
        border: 1px solid #fff;
        padding: 0.25rem 0.5rem;
    }
}

hr {
    outline: none;
    background: none;
    border: none;
    border-top: 1px solid #fff;
    margin: 2rem 0;
}

input, button {
    background: none;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
}

button {
    cursor: pointer;
}

.small-icon {
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.notification {
    background: #285896;
    border: 0.25rem solid #143b67;
    margin: 0.5rem 0;
    display: flex;

    .time {
        background: #143b67;
        width: 12rem;
        flex: 0 0 12rem;
        text-align: center;
        padding: 0.25rem 0.5rem;
    }

    .message {
        margin: 0.25rem 0.5rem;
    }

    &.alert {
        background: #832735;
        border-color: #601721;

        .time {
            background: #601721;
        }
    }
}