.menu {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #111;
    z-index: 5;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        padding: 0.5rem;

        svg {
            width: 4rem;
            height: 4rem;
        }
    }
}

.dashboard-menu {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem;
        margin: 0.5rem;
        width: 15rem;
        text-align: center;

        svg {
            width: 2rem;
            height: 2rem;
            margin-right: 1rem;
        }
    }
}