@import 'variables';

.headline {
    font-size: 5rem;
    margin: 0;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    padding: 0 0.75rem;
}

.flex {
    display: flex;
    align-items: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.full {
    width: 100%;
    height: 100%;
}

.row {
    display: flex;
}

.col {
    flex: 1;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

@for $i from 0 through 5 {
    .mt-#{$i} {
        margin-top: #{calc($i/2)}rem;
    }
    .mb-#{$i} {
        margin-bottom: #{calc($i/2)}rem;
    }
    .ml-#{$i} {
        margin-left: #{calc($i/2)}rem;
    }
    .mr-#{$i} {
        margin-right: #{calc($i/2)}rem;
    }
}

.button {
    padding: 0.25rem 0.5rem;
    border: 0.2rem solid $link;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;

    &:hover {
        border-color: $link-hover;
    }
}

.red {
    color: #e54949;
}

.yellow {
    color: #f3c736;
}

.green {
    color: #43b943;
}