{% extends "layout.twig" %}

{% block body %}
    <div class="flex-center flex-column full">
        <h1 class="headline">QUARTERS</h1>
        <div class="flex-center">
            <a class="button" href="/login">Přihlásit se LeoSight účtem</a>
        </div>
    </div>
{% endblock %}